.single__nft__img {
  border-radius: 8px;
}
.single__nft__seen span i {
  color: #fff;
  padding: 5px;
  cursor: pointer;
  background: black;
  border-radius: 50px;
}
.single__nft__more span,
.single__nft__seen span {
  color: #fff;
  font-size: 0.8rem;
}
.single__nft__more span i {
  background: #343444;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}
.nft__creator {
  background: #343444;
  padding: 15px;
  border-radius: 7px;
  width: 50%;
}
.creator__img {
  width: 40px;
  height: 40px;
}
.creator__detail {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.7rem;
}
.creator__detail h6 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.singlenft-btn {
  padding: 8px 25px;
  background: #5142fc;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singlenft-btn a {
  text-decoration: none;
  color: #fff;

  font-size: 1rem;
}
.singlenft-btn:hover {
  background: #fff;
}
.singlenft-btn:hover a {
  color: #5142fc;
}
.singlenft-btn i {
  color: #fff;
}
.singlenft-btn:hover i {
  color: #5142fc;
}
@media (max-width: 991px) {
  .single__nft__content h2 {
    font-size: 1.3rem;
  }
  .single__nft__content p {
    font-size: 0.8rem;
    line-height: 28px;
  }
  .nft__creator {
    width: 100%;
  }
  .singlenft-btn a {
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  .single__nft__content h2 {
    margin-top: 15px;
  }
}
