.modal__wraper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #14141f8a;
  z-index: 4444444;
}
.single__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #343444 !important;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  height: 500px;
  z-index: 5555555;
  cursor: pointer;
}
h6 {
  font-size: 1.1rem;
  font-weight: 500;
}
.single__modal .money {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}
.input__item input {
  width: 100%;
  border: 1px solid #ddd;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
}
.input__item h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.single__modal .place__bid-btn {
  padding: 7px 25px;
  border: none;
  outline: none;
  width: 120px;
  margin: auto;
  color: #fff;
  border-radius: 50px;
  font-size: 0.8rem;
  background: #5142fc;
}
.close__modal {
  position: absolute;
  top: -2px;
  right: -2px;
}
.close__modal i {
  padding: 5px;
  background: #5142fc;
  color: #fff;
  border-radius: 50px;
}
@media only screen and (max-width: 992px) {
  .single__modal {
    width: 300px;
    height: 430px;
  }
  .single__modal h6 {
    font-size: 0.8rem;
  }
  .single__modal p {
    font-size: 0.8rem;
  }
  .money {
    font-size: 0.8rem !important;
  }
  .input__item h6 {
    font-size: 0.7rem;
  }
  .input__item input {
    padding: 5px 20px !important;
    font-size: 0.7rem;
  }
}
